extends ../layouts/application.pug

block content
  .row
    .col
      table.table.table-striped.table-hover
        thead
          tr
            th= t('views.users.index.id')
            th= t('views.users.index.fullName')
            th= t('views.users.index.email')
            th= t('views.users.index.createdAt')

        tbody
          each user in users
            tr
              td= user.id
              td= `${user.firstName} ${user.lastName}` 
              td= user.email
              td= formatDate(user.createdAt)