+input('name', t('views.tasks._form.name'), null, values, errors)
.form-group
  label(for='description')= t('views.tasks._form.description')
  textarea.form-control(name='description', id='description', rows='3')= values.description
.form-group
  label(for='executor')= t('views.tasks._form.executor')
  select.form-control(name='executorId', id='executor')
    option
    each user in users
      option(value= user.id, selected= (values.executorId === user.id))= user.fullName
.form-row.mb-4
  .form-group.col-6
    - const statusErrors = errors['statusId'];
    label(for='taskStatus')= t('views.tasks._form.status')
    select.form-control(name='statusId', id='taskStatus', class=statusErrors ? 'is-invalid' : 'border-secondary')
      if !values.id
        option
      each taskStatus in taskStatuses
        option(value= taskStatus.id, selected= (values.statusId === taskStatus.id))= taskStatus.name
    if statusErrors
      .invalid-feedback= getInputErrorMessage(statusErrors)
  .form-group.col-6
    label= t('views.tasks._form.tags')
    button.btn.btn-outline-dark.btn-block.dropdown-toggle.text-right.text-dark(type='button', style='background-color: #a9bdbd;')
