+input('name', t('views.tasks._form.name'), null, values, errors)
.form-group
  label(for='description')= t('views.tasks._form.description')
  textarea.form-control(name='description', id='description', rows='3')= values.description
.form-group
  label(for='executor')= t('views.tasks._form.executor')
  select.form-control(name='executorId', id='executor')
    option
    each user in users
      option(value= user.id, selected= (values.executorId === user.id))= user.fullName
.form-row.mb-4
  .form-group.col-6
    - const statusErrors = errors['statusId'];
    label(for='status')= t('views.tasks._form.status')
    select.form-control(name='statusId', id='status', class=statusErrors ? 'is-invalid' : 'border-secondary')
      if !values.id
        option
      each status in statuses
        option(value= status.id, selected= (values.statusId === status.id))= status.name
    if statusErrors
      .invalid-feedback= getInputErrorMessage(statusErrors)
  .form-group.col-6
    label(for='label')= t('views.tasks._form.tags')
    select.selectpicker.form-control(name='labelIds', id='label', multiple, data-style='text-dark', data-size='4', data-dropup-auto='false', title=t('views.tasks._form.noLabel'))
      each label in labels
        option(value= label.id, selected= values.labelIds.includes(label.id))= label.name
