extends ../layouts/application.pug

block content
  .row
    .col-4.text-right
      .h4.pr-3= t('views.tasks.show.title')
  .row.my-3
    .col.col-md-4.text-left.text-md-right
      ul.list-group.list-group-flush
        li.list-group-item.active
          p.lead= task.name
        li.list-group-item= `${t('views.tasks.show.author')}: `
          span= task.creator.toJSON().fullName
        li.list-group-item= `${t('views.tasks.show.executor')}: `
          span= task.executor ? task.executor.toJSON().fullName : t('views.tasks.show.notAssigned')
        li.list-group-item= `${t('views.tasks.show.status')}: `
          span= task.status.name
        li.list-group-item= `${t('views.tasks.show.labels')}:`
          if !isEmpty(task.labels)
            each label in task.labels
              span= ` #${label.name}`
          else
            span= ` ${t('views.tasks.show.withoutLabels')}`
        li.list-group-item= `${t('views.tasks.show.createdAt')}: `
          span= formatDate(task.createdAt)
        a.d-none.d-md-block.list-group-item.list-group-item-action.text-success(href=route('editTask', { id: task.id }))= t('views.tasks.show.change')
        button.d-none.d-md-block.list-group-item.list-group-item-action.text-danger(type='button', data-toggle='modal', data-target='#deleteTaskModal')= t('views.tasks.show.deleteTask')
    .col.col-md-8.border-left.border-dark
      ul.list-group.list-group-flush
        li.list-group-item
          p.lead= `${t('views.tasks.show.description')}: `
        li.list-group-item.border-bottom.border-dark
          pre= task.description
        a.d-block.d-md-none.list-group-item.list-group-item-action.text-success(href=route('editTask', { id: task.id }))= t('views.tasks.show.change')
        button.d-block.d-md-none.list-group-item.list-group-item-action.text-danger(type='button', data-toggle='modal', data-target='#deleteTaskModal')= t('views.tasks.show.deleteTask')
  .modal.fade(id='deleteTaskModal', tabindex='-1', aria-labelledby='deleteTaskModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title= t('views.tasks.show.deletionTask')
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .text-center= t('views.tasks.show.deletionWarning')
        .modal-footer
          form(action=route('task', { id: task.id }), method='post')
            +overrideInput('delete')
            +submit(t('views.tasks.show.submitDel'))(class='btn-danger')
