include ../mixins/forms.pug
include ../mixins/components.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href=assetPath('bootstrap.min.css'), rel='stylesheet')
    title Task manager
  body.d-flex.flex-column.vh-100
    .d-flex.flex-column.flex-lg-row.mx-3.my-3.h-100
      aside.mb-3.mb-lg-0.bg-dark
        nav.navbar.navbar-expand-lg.navbar-dark.flex-column.h-100
          .d-flex.w-100
            a.navbar-brand.text-monospace.mr-auto(href=route('root'))
              span task.
              span.text-primary manage
              span ()
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse.align-self-start.w-100.mt-3
            ul.navbar-nav.flex-column.text-nowrap.align-self-stretch.border-top.border-secondary.pt-3
              li.nav-item(class=(activeNavItem === '' && 'active'))
                a.nav-link(href='#')
                  +icon('users')
                  span.pl-2 пользователи
              li.nav-item.mb-2(class=(activeNavItem === '' && 'active'))
                a.nav-link(href='#')
                  +icon('list-check')
                  span.pl-2 задачи
              li.nav-item.mt-auto.border-top.border-secondary(class=(activeNavItem === '' && 'active'))
                a.nav-link.text-lg-center(href='#')
                  +icon('urgent')
                  span.pl-2 срочно!

      main.container-fluid
        // -
        //   const reply = {
        //     flash: () => ({
        //       info: [
        //         'qqqqqqqqqqq qqqqqqqqqq qqqqqqqqqq qqqqqqqqqq',
        //         'wwwwwwww wwwwwwww www wwwwwwwww wwwwwwwwwwwww wwwwwww wwwwww',
        //       ],
        //       danger: [
        //         'zzzzzzz zzzzzzzzz zzzzzzzz zzzzzzzzzzzzzzzzz',
        //         'aaaaaaaaaa aaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaa',
        //       ],
        //     }),
        //   };
        .fixed-bottom.ml-5.mr-5.mb-5.pb-5
          .row
            .col-6.ml-auto
              each messages, type in reply.flash() || []
                each message in messages
                  .alert.alert-dismissible.fade.show(class=`alert-${type}`, role='alert')= message
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                      span(aria-hidden='true') &times;

        .bg-dark.p-3.pb-5.mb-n5
          .dropdowm.text-right
            a.dropdown-toggle.text-reset.text-decoration-none(data-toggle='dropdown', href='#', role='button', id='dropdownMenuLink', aria-haspopup='true', aria-expanded='false', data-offset='20, 20')
              span.mr-2 приветствуем,
              span= user
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
              a.dropdown-item(href="#")
                +icon('user')
                span.pl-2 аккаунт
              .dropdown-divider
              a.dropdown-item(class='ml-1', href="#")
                +icon('logout')
                span.pl-2 выйти

        .row.justify-content-around.my-3
          .col-5
            .bg-dark
              .card.border-0.p-3
                h4.display-5 виджет первый
          .col-5
            .bg-dark
              .card.border-0.p-3
                h4.display-5 виджет второй

        block content

    footer.bg-dark.m-3.mt-auto.px-4.py-3
      .row.justify-content-between
        .col-auto
          a.text-secondary.mr-3(href='https://github.com/ushachev/backend-project-lvl4', target='_blank')
            +icon('brand-github')
            span.ml-2 код проекта
        .col-auto
          copy ushachev, 2020

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src=assetPath('bootstrap.bundle.min.js'))
