include ../mixins/forms.pug
include ../mixins/components.pug

- const { t, summary } = reply.request;

doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href=getAssetPath('main.css'), rel='stylesheet')
    title Task manager
  body.d-flex.flex-column.min-vh-100
    .d-flex.flex-column.flex-lg-row.mx-3.my-3.flex-grow-1
      aside.mb-3.mb-lg-0.sticky-top(style='max-height: 100vh;')
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.flex-column.h-100.py-0
          .d-flex.w-100.align-items-center(style='height: 85px;')
            a.navbar-brand.text-monospace.mx-auto(href=route('root'))
              span task.
              span.text-primary manage
              span ()
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse.align-self-start.w-100
            ul.navbar-nav.flex-column.text-nowrap.align-self-stretch.border-top.border-secondary.py-3
              - const { url } = reply.request;
              li.nav-item(class=(url === route('users') && 'active'))
                a.nav-link(href=route('users'))
                  +icon('users')
                  span.pl-2= t('layouts.application.users')
              li.nav-item(class=(activNavItem === 'tasks' && 'active'))
                a.nav-link(href=route('tasks'))
                  +icon('list-check')
                  span.pl-2= t('layouts.application.tasks')
              li.nav-item(class=(url === route('statuses') && 'active'))
                a.nav-link(href=route('statuses'))
                  +icon('checks')
                  span.pl-2= t('layouts.application.statuses')
              li.nav-item.mb-2(class=(url === route('labels') && 'active'))
                a.nav-link(href=route('labels'))
                  +icon('tag')
                  span.pl-2= t('layouts.application.tags')
              li.nav-item.mt-auto.border-top.border-secondary(class='')
                a.nav-link.text-lg-center(href=`${route('tasks')}?isCreatorUser=on`)
                  +icon('urgent')
                  span.pl-2= t('layouts.application.myTasks')

      main.container-fluid
        - const flashes = reply.flash() || {}
        if Object.keys(flashes).length
          .fixed-top.mx-5.mt-5
            .row
              .col.col-md-6.mx-auto
                each messages, type in flashes
                  each message in messages
                    .alert.alert-dismissible.fade.show(class=`alert-${getAlertClass(type)}`, role='alert')= message
                      button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') &times;

        .bg-dark.p-3.pb-5.mb-n5.mx-n3.ml-md-0
          - const { firstName, lastName } = reply.request.user;
          - const userName = firstName ? `${firstName} ${lastName}` : reply.request.user.email
          .dropdowm.text-right
            a.dropdown-toggle.text-reset.text-decoration-none(data-toggle='dropdown', href='#', role='button', id='dropdownMenuLink', aria-haspopup='true', aria-expanded='false', data-offset='20, 20')
              span= t('layouts.application.greeting', { userName })
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
              a.dropdown-item(href=route('userAccount'))
                +icon('user')
                span.pl-2= t('layouts.application.account')
              .dropdown-divider
              form(id='signOut', action=route('session'), method='post')
                +overrideInput('delete')
              button.dropdown-item.ml-1(form='signOut', type='submit')
                +icon('logout')
                span.pl-2= t('layouts.application.signOut')

        .container-fluid.px-0
          .row.justify-content-around.my-3.mx-n3
            .col-12.col-md-5.text-center
              .bg-dark
                .card.border-0.p-3
                  span.h5= t('layouts.application.totalUsers', { count: summary.users })
            .col-12.col-md-5.text-center
              .bg-dark
                .card.border-0.p-3.mt-1.mt-md-0
                  span.h5= t('layouts.application.totalTasks', { count: summary.tasks })

          block content

    footer.bg-dark.m-3.mt-auto.px-2.px-md-4.py-3
      .row
        .col-auto
          a.text-secondary.mr-3(href='https://github.com/ushachev/backend-project-lvl4', target='_blank')
            +icon('brand-github')
            span.ml-2= t('layouts.application.projectCode')
        .col-auto.ml-auto
          copy= t('layouts.application.author')

    script(src=getAssetPath('main.js'))
