include ../mixins/forms.pug
include ../mixins/components.pug

- const t = reply.request.t;

doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href=getAssetPath('main.css'), rel='stylesheet')
    title Task manager
  body.d-flex.flex-column.min-vh-100
    .d-flex.flex-column.flex-lg-row.mx-3.my-3.flex-grow-1
      aside.mb-3.mb-lg-0.sticky-top(style='max-height: 100vh;')
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.flex-column.h-100.py-0
          .d-flex.w-100.align-items-center(style='height: 85px;')
            a.navbar-brand.text-monospace.mx-auto(href=route('root'))
              span task.
              span.text-primary manage
              span ()
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse.align-self-start.w-100
            ul.navbar-nav.flex-column.text-nowrap.align-self-stretch.border-top.border-secondary.py-3
              - const { url } = reply.request;
              li.nav-item(class=(url === route('users') && 'active'))
                a.nav-link(href=route('users'))
                  +icon('users')
                  span.pl-2= t('layouts.application.users')
              li.nav-item(class=(url === route('tasks') && 'active'))
                a.nav-link(href=route('tasks'))
                  +icon('list-check')
                  span.pl-2= t('layouts.application.tasks')
              li.nav-item(class=(url === route('taskStatuses') && 'active'))
                a.nav-link(href=route('taskStatuses'))
                  +icon('checks')
                  span.pl-2= t('layouts.application.taskStatuses')
              li.nav-item.mb-2(class='')
                a.nav-link(href='#')
                  +icon('tag')
                  span.pl-2= t('layouts.application.tags')
              li.nav-item.mt-auto.border-top.border-secondary(class='')
                a.nav-link.text-lg-center(href='#')
                  +icon('urgent')
                  span.pl-2= t('layouts.application.urgently')

      main.container-fluid
        .fixed-bottom.ml-5.mr-5.mb-5.pb-5
          .row
            .col-6.ml-auto
              each messages, type in reply.flash() || []
                each message in messages
                  .alert.alert-dismissible.fade.show(class=`alert-${type}`, role='alert')= message
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                      span(aria-hidden='true') &times;

        .bg-dark.p-3.pb-5.mb-n5
          - const { firstName, lastName } = reply.request.currentUser;
          .dropdowm.text-right
            a.dropdown-toggle.text-reset.text-decoration-none(data-toggle='dropdown', href='#', role='button', id='dropdownMenuLink', aria-haspopup='true', aria-expanded='false', data-offset='20, 20')
              span= t('layouts.application.greeting', { firstName, lastName })
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
              a.dropdown-item(href=route('userAccount'))
                +icon('user')
                span.pl-2= t('layouts.application.account')
              .dropdown-divider
              form(id='signOut', action=route('session'), method='post')
                +overrideInput('delete')
              button.dropdown-item.ml-1(form='signOut', type='submit')
                +icon('logout')
                span.pl-2= t('layouts.application.signOut')

        .container-fluid
          .row.justify-content-around.my-3
            .col-5
              .bg-dark
                .card.border-0.p-3
                  h4.display-5 виджет первый
            .col-5
              .bg-dark
                .card.border-0.p-3
                  h4.display-5 виджет второй

          block content

    footer.bg-dark.m-3.mt-auto.px-4.py-3
      .row.justify-content-between
        .col-auto
          a.text-secondary.mr-3(href='https://github.com/ushachev/backend-project-lvl4', target='_blank')
            +icon('brand-github')
            span.ml-2= t('layouts.application.projectCode')
        .col-auto
          copy= t('layouts.application.author')

    script(src=getAssetPath('main.js'))
