include ../mixins/forms.pug
include ../mixins/components.pug

- const t = reply.request.t;

doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href=getAssetPath('main.css'), rel='stylesheet')
    title Task manager
  body.d-flex.flex-column.vh-100
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.m-3.mb-5
      a.navbar-brand.text-monospace(href=route('root'))
        span task.
        span.text-primary manage
        span ()
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          - const { url } = reply.request;
          li.nav-item(class=(url === route('newUser') && 'active'))
            a.nav-link(href=route('newUser'))
              +icon('user-plus')
              span.pl-2= t('layouts.unauthenticated.signUp')
          li.nav-item.ml-lg-3(class=(url === route('newSession') && 'active'))
            a.nav-link(href=route('newSession'))
              +icon('login')
              span.pl-2= t('layouts.unauthenticated.signIn')

    main.container.mb-5
      .fixed-bottom.ml-5.mr-5.mb-5.pb-5
        .row
          .col-6.mr-auto
            each messages, type in reply.flash() || []
              each message in messages
                .alert.alert-dismissible.fade.show(class=`alert-${type}`, role='alert')= message
                  button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;

      block content

    footer.bg-dark.m-3.mt-auto.px-4.py-3
      .row.justify-content-between
        .col-auto
          a.text-secondary.mr-3(href='https://github.com/ushachev/backend-project-lvl4', target='_blank')
            +icon('brand-github')
            span.ml-2= t('layouts.application.projectCode')
        .col-auto
          copy= t('layouts.application.author')

    script(src=getAssetPath('main.js'))
