extends ../layouts/application.pug

block content
  .row.mb-2
    .col
      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#addingTaskStatus')
        +icon('circle-plus')
        span.ml-2= t('views.taskStatuses.index.create')
  .row
    .col
      #addingTaskStatus.collapse(class= errors ? 'show' : '')
        form(action=route('taskStatuses'), method='post')
          .form-row
            .col-12.col-sm-8
              +input('name', null, null, values, errors)
            .col-12.col-sm-4
              +submit(t('views.taskStatuses.index.submit'))(class='btn-block')
  if taskStatuses.length > 0
    .row
      .col
        table.table.table-striped.table-hover
          thead
            tr
              th= t('views.taskStatuses.index.id')
              th= t('views.taskStatuses.index.name')
              th= t('views.taskStatuses.index.createdAt')
              th
          tbody
            each taskStatus in taskStatuses
              tr
                td= taskStatus.id
                td= taskStatus.name 
                td= formatDate(taskStatus.createdAt)
                td.text-right
                  a(href=`/taskStatuses/${taskStatus.id}/edit`, data-toggle='tooltip', data-placement='auto', title=t('views.taskStatuses.index.change'))
                    +icon('pencil')
                  form.d-inline(action=`/taskStatuses/${taskStatus.id}`, method='post')
                    +overrideInput('delete')
                    button.btn.btn-link.py-0(type='submit', data-toggle='tooltip', data-placement='auto', title=t('views.taskStatuses.index.delete'))
                      +icon('x')